.DS_Store
*.log
output.data
*/*/generate
*/*/*_syn/
*/*/*_hls/
aes/aes/aes
backprop/backprop/net
bfs/bulk/bulk
bfs/queue/queue
fft/strided/fft
fft/transpose/fft
gemm/blocked/bbgemm
gemm/ncubed/gemm
kmp/kmp/kmp
md/grid/md
md/knn/md
nw/nw/needwun
rsa/rsa/rsa
sort/merge/merge
sort/radix/radix
spmv/crs/crs
spmv/ellpack/ellpack
stencil/stencil2d/stencil
stencil/stencil3d/stencil3d
viterbi/viterbi/viterbi
